*{
    margin: 0;
    padding: 0;
}

.navbar-brand{
    color: greenyellow;
    font-size: 30px;
}

.navbar-nav .nav-item a{
    color: black;
    font-size: 14px;
    letter-spacing: 2px;
}

.navbar-nav .nav-item a:hover{
    color: white;
}

.navbar-nav .nav-item a:active{
    color: white;
}


.carousel-inner .carousel-item img{
    opacity: 0.7;
}



.carousel-item{
    height: 100vh !important;
    min-height: 300px !important;
}


.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    color: black;
 }

 .carousel-caption{
    bottom: 200px;
    z-index: 2;
 }

 .carousel-caption h1{
    color: black;
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing:2px;
    margin-top: 25px;
 }

 .carousel-caption p{
    color: black;
    width: 60%;
    margin: auto;
    font-size: 20px;
    line-height: 1.9;
 }

 /* .carousel-inner::after{
    content: '' !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)) !important;
 } */