*{
    margin: 0;
    padding: 0;
}

p{
    margin-bottom: unset;
}

.navbar-brand{
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.navbar-nav .nav-item a{
    color: black;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
}

.navbar-nav .nav-item a:hover{
    color: gray;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    color: unset;
}

/* ---------------------banner section------------------- */
.banner{
    position: relative;
    background-image: url(img/4th-bg-image.jpg);
    height: 100vh;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
}

.banner .banner-text{
    position: absolute;
    top: 35%;
}

.banner .banner-text h1{
    font-size: 75px;
    font-weight: bold;
}

.banner .banner-text p{
    font-size: 20px;
    font-weight: bold;
    width: 70%;
}

/* ---------------------Footer section------------------- */

.footer{
    background: black;
}

.footer .container{
    padding: 50px 0px;
}

.footer h1{
    text-align: center;
    color: whitesmoke;
    padding-bottom: 50px;
}

.footer .footer-content .left{
    flex: 1;
    text-align: center;
    color: white;


}
.footer .footer-content .left-contents{
    text-align: center;
    color: white;

}


.footer .footer-content .middle{
    flex: 1;
    text-align: center;
    color: white;


}
.footer .footer-content .middle-contents{
    text-align: center;
    color: white;
}

.footer .footer-content .right{
    flex: 1;
    text-align: center;
    color: white;


}
.footer .footer-content .right-contents{
    text-align: center;
    color: white;

}